* {
  font-family: "Metropolis", "sans-serif", "Open Sans", "Helvetica Neue",
    "sans-serif";
  color: white;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #110228 !important;
  overflow-x: hidden;
  overflow-y: auto;
}

button:focus {
  outline: none !important;
}

@font-face {
  font-family: "Abril Fatface";
  font-weight: 400;
  src: url("/fonts/AbrilFatface-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 100;
  src: url("/fonts/Metropolis-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 200;
  src: url("/fonts/Metropolis-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 300;
  src: url("/fonts/Metropolis-Light.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 400;
  src: url("/fonts/Metropolis-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 500;
  src: url("/fonts/Metropolis-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 600;
  src: url("/fonts/Metropolis-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 700;
  src: url("/fonts/Metropolis-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 800;
  src: url("/fonts/Metropolis-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis";
  font-weight: 900;
  src: url("/fonts/Metropolis-Black.otf") format("opentype");
}
